# FC bot
FC_BOT_TOKEN=YOUR_FC_BOT_TOKEN
FC_CHANNEL_USERNAME=FC_PROUZ
FC_WEBSITE_URL=https://enasiba344-commits.github.io/Fcmobile2026/

# SMM bot
SMM_BOT_TOKEN=YOUR_SMM_BOT_TOKEN
SMM_API_URL=https://seensms.uz/api/v1
SMM_API_KEY=YOUR_SMM_API_KEY
